// /* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      .check-box-col {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
      }
      .chebox-label {
            margin-left: 10px;
      }
      ion-checkBox {
            --ion-color-base: #6d5196 !important;
      }
      hr.new1 {
            border-top: 1px solid rgb(32, 31, 31);
      }
      hr.new4 {
            border-top: 2px solid #000;
      }
      .add-btn {
            text-transform: none;
            width: 70px;
            float: right;
            margin-right: 5px;
            height: 30px;
      }
      .date-icon {
            font-size: 20px;
            margin-left: 60% !important;
            position: unset;
            margin-top: 5px;
      }

      .date-icon2 {
            font-size: 20px;
            margin-left: 55% !important;
            position: unset;
            margin-top: 5px;
      }
}
