<ion-content>
  <ion-slides pager="true">

    <ion-slide class="card-in-center">
      <img src="assets/intro/slide_1.png" alt="logo">
    </ion-slide>

    <ion-slide class="card-in-center">
      <img src="assets/intro/slide_2.png" alt="logo">
    </ion-slide>

    <ion-slide class="card-in-center">
      <img src="assets/intro/slide_3.png" alt="logo">

      <ion-row class="btn-skip ion-justify-content-end">
        <ion-col size="4" class="ion-no-padding ion-text-right">
          <ion-button color="medium" (click)="done()">
            Done
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-slide>

  </ion-slides>

</ion-content>