/* Smartphones (landscape) ----------- */
@media screen and (min-width: 390px) and (max-width: 900px) and (orientation: landscape) {
}

// /* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      ion-card {
            box-shadow: none;
            border: 1px solid #eee;
      }
      .image-div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
      }
      .p-image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-top: 10px;
      }
      .img-container {
            height: 15vh;
            margin-top: 10px;
      }
      .name-row {
            display: grid;
            justify-content: center;
            text-align: center;
            align-items: center;
      }

      .user-name-label {
            color: #000;
            font-size: 13px;
            padding: 2px;
      }
      .user-deg-label {
            color: #9e9e9e;
            font-size: 13px;
            padding: 2px 0px 10px 0px;
      }

      .itemheight {
            --min-height: 29px !important;
            --padding-start: 2px !important;
            --padding-end: 0px !important;
            --padding-top: 0px !important;
      }
      .head-text {
            font-size: 12px;
            font-weight: 600;
      }
      .val-text {
            font-size: 12px;
      }

      .header-icon {
            font-size: 15px;
            // margin-left: -6px;
      }
      .badge {
            // color: #fff;
            // background-color: #df2929;
            // height: 15px;
            // width: 15px;
            // font-size: 10px;
            // font-weight: 600;
            // border-radius: 50%;
            // /* position: relative; */
            // right: -5px;
            // top: 0px;
            // justify-content: center;
            // text-align: center;
            // align-items: center;

            color: #fff;
            background-color: #df2929;
            height: auto;
            width: auto;
            font-size: 10px;
            font-weight: 600;
            border-radius: 50%;
            right: -5px;
            top: 0px;
            justify-content: center;
            text-align: center;
            align-items: center;
            --padding-top: 2px;
            --padding-end: 2px;
            --padding-bottom: 2px;
            --padding-start: 2px;
      }

      .badge1 {
            color: #fff;
            background-color: #6d5196;
            height: auto;
            width: auto;
            font-size: 12px;
            font-weight: 400;
            justify-content: center;
            text-align: center;
            align-items: center;
      }

      .sc-ion-buttons-md-h {
            display: -ms-flexbox;
            display: flow-root;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            z-index: 99;
      }

      .sc-ion-buttons-md-s ion-button {
            margin-left: unset;
            margin-right: unset;
            -webkit-margin-start: 2px;
            margin-inline-start: 0px;
            //-webkit-margin-end: 2px;
            //margin-inline-end: -5px;
      }
}

// /* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
