/* Smartphones (landscape) ----------- */
@media screen and (min-width: 390px) and (max-width: 900px) and (orientation: landscape) {
}

// /* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      ion-content {
            --background: none;
            background-image: url("/assets/Images/loginPgaeBg.jpeg");
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
      }
      h2 {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 15px;
      }
      .login-form {
            background-color: #ffffffd1;
            border-radius: 10px;
            margin-left: 30px;
            margin-right: 30px;
            position: relative;
            //top: 20%;
            justify-content: center;
            //opacity: 0.8;
      }

      .login-div {
            margin: 15px;
            margin-top: 0px;
      }
      .login-text {
            display: flex;
            justify-content: center;
            text-align: center;
      }
      .item-class {
            border: 1.5px solid #d3cfcf;
            height: 45px;
            border-radius: 5px;
            margin: 10px 0px 10px 0px;
            --padding-start: 5px !important;
            --padding-end: 0px !important;
            --padding-top: 0px !important;
      }
      .input-field {
            font-size: 15px;
            margin-bottom: 5px;
            border-bottom: #fff !important;
            display: flex;
            justify-content: start;
            text-align: start;
            align-items: self-end;
      }

      .sc-ion-input-md-h {
            --padding-top: 0px;
            --padding-end: 0;
            --padding-bottom: 0px;
            --padding-start: 0px !important;
            font-size: inherit;
            --highlight-color-valid: #fff;
      }
      .login-btn {
            --background: #6d5196 !important;
            text-transform: none;
            width: 100%;
            --border-radius: 5px;
            height: 40px;
            font-size: 16px;
      }
      ion-label {
            font-size: 16px;
      }

      .logo-row {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 15px 0px 0px 0px;
      }
      .image-logo {
            width: 50%;
      }
      .item-interactive.ion-invalid {
            --highlight-background: none;
      }
      :host(.item-interactive.ion-valid) {
            --highlight-background: none;
      }

      .card-in-center {
            display: flex;
            justify-content: center;
            text-align: start;
            align-items: center;
            height: 100%;
      }
}

// /* iPads (portrait and landscape) ----------- */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
