// /* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      .label-head {
            margin: 10px 0px 5px 10px;
            color: #000;
            font-size: 14px;
      }

      .item-row {
            border: 1.5px solid #d3cfcf;
            height: 35px;
            border-radius: 5px;
            margin: 10px 10px 10px 10px;
      }

      .input-field {
            font-size: 13px;
            margin-top: -2px;
            border-bottom: #fff !important;
            display: flex;
            justify-content: start;
            text-align: start;
            align-items: unset;
            color: #000;
      }
      .update-btn {
            --background: #6d5196 !important;
            text-transform: none;
            margin: 0px 10px 0px 10px;
            --border-radius: 5px;
            height: 32px;
            font-size: 12px;
      }
}
