<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-card [formGroup]="passwordForm">

      <ion-list style="margin-top: 5px;">
        <ion-label class="label-head">New Password</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="password" formControlName="newPassword"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.newPassword.errors?.required">
          <ion-text>
            * New Password is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Confirm Password</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="password" formControlName="confPassword"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.confPassword.errors?.required">
          <ion-text>
            * Confirm Password  is required. <br />
          </ion-text>
        </p>

        <hr>
        <ion-button expand="block" class="update-btn" (click)="updatePassword()">Update Password
        </ion-button>
      </ion-list>
    </ion-card>
  </ion-grid>
</ion-content>