<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-text class="form-name">
        {{gotFormType.form_name}}
      </ion-text>
    </ion-row>


    <ion-card>

      <ion-row class="row-head">
        <ion-col size="6">
          <ion-text class="heading-text">
            Order Id - TTPL00{{formDetails.order_id}}
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="value-text">
            Date: {{formDetails.created_date | date: "dd/MM/yyyy"}}
          </ion-text>
        </ion-col>
      </ion-row>

      <!-- <span class="stamp is-nope"> {{formRubberStatus}}</span>
      <ion-row class="photo-row1">
        <img class="selected-img" src="{{imageUrl+formDetails.photo}}" alt="photo">
      </ion-row>

      <ion-row>
        <ion-col class="button-col">
          <ion-button class="download-button" shape="round" fill="outline"
            (click)="downloadAnything(formDetails.photo,'photo')">Download Photo
          </ion-button>
        </ion-col>
      </ion-row> -->

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            State
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.state}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            District
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.district}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Tehsil
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.tahsil}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Block
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.block}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Village
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.village}}
          </ion-text>
        </ion-col>
      </ion-item>


      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Address
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.full_address}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Category
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.category}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Farmer Name
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.full_name}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Father's Name
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.father_name}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Date of Birth
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dob | date: "dd/MM/yyyy"}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Aadhar Card No
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.adhar_no}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Bank Name
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.bank_name}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            IFSC Code
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.ifsc_code}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Account No
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.acc_no}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Mobile No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.mobile_no}}
          </ion-text>
        </ion-col>
      </ion-item>

    </ion-card>

    <ion-card *ngIf="formDetails.survey1!==''">

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Survey/ Khata No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.survey1}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Dag/ Khasra No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dag1}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Area (In Ha).
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.farea1}}
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>


    <ion-card *ngIf="formDetails.survey2!==''">

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Survey/ Khata No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.survey2}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Dag/ Khasra No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dag2}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Area (In Ha).
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.farea2}}
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="formDetails.survey3!==''">

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Survey/ Khata No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.survey3}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Dag/ Khasra No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dag3}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Area (In Ha).
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.farea3}}
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="formDetails.survey4!==''">

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Survey/ Khata No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.survey4}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Dag/ Khasra No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dag4}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Area (In Ha).
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.farea4}}
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="formDetails.survey5!==''">

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Survey/ Khata No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.survey5}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Dag/ Khasra No.
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.dag5}}
          </ion-text>
        </ion-col>
      </ion-item>

      <ion-item line="full" class="itemheight">
        <ion-col size="5">
          <ion-text class="head-text">
            Area (In Ha).
          </ion-text>
        </ion-col>
        <ion-col size="1">
          <ion-text>
            <strong>:</strong>
          </ion-text>
        </ion-col>
        <ion-col size="6">
          <ion-text class="val-text">
            {{formDetails.farea5}}
          </ion-text>
        </ion-col>
      </ion-item>
    </ion-card>


    <ion-card
      *ngIf=" shareData.userRoleUId=='1' ||shareData.userRoleUId=='7' ||shareData.userRoleUId=='7' ;else templateName">
      <ion-row class="row-head">
        <ion-col>
          <ion-text class="heading-text">
            Status Update of Order Id - TTPL00{{formDetails.order_id}}
          </ion-text>
        </ion-col>
      </ion-row>

      <hr>
      <ion-label class="label-head">Select Status</ion-label>
      <ion-row class="item-row">

        <ion-select class="select-class" placeholder="Select Status" [interfaceOptions]="statusHeader"
          [(ngModel)]="statusType" *ngIf="formDetails.status=='1'">
          <ion-select-option value="2">Processing</ion-select-option>
          <ion-select-option value="3">Canceled</ion-select-option>
        </ion-select>

        <ion-select class="select-class" placeholder="Select Status" [interfaceOptions]="statusHeader"
          [(ngModel)]="statusType" *ngIf="formDetails.status==2">
          <ion-select-option value="2">Processing</ion-select-option>
          <ion-select-option value="5">Rejected</ion-select-option>
          <ion-select-option value="4">Completed</ion-select-option>
        </ion-select>


      </ion-row>

      <ion-label class="label-head">Remarks</ion-label>
      <ion-row class="item-row">
        <ion-input class="input-field" type="text" placeholder="Remarks" [(ngModel)]="remarks">
        </ion-input>
      </ion-row>

      <ion-label class="label-head">Upload Document</ion-label>
      <ion-row class="item-row">
        <input style="margin-top: 5px;" type="file" #myInput (change)="selectFile($event)">
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="submit-button" shape="round" fill="outline" (click)="submitStatus()">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="reset-btn" expand="block" type="submit" (click)="resetStatusUpdate()">Reset
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-card>
      <ion-row class="row-head">
        <ion-col>
          <ion-text class="heading-text">
            Status Update of Order Id - TTPL00{{formDetails.order_id}}
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-card *ngFor="let item of formStatus">
        <ion-item line="full" class="itemheight">
          <ion-col size="5">
            <ion-text class="head-text">
              Application Status
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-text>
              <strong>:</strong>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text class="val-text">
              {{item.status}}
            </ion-text>
          </ion-col>
        </ion-item>

        <ion-item line="full" class="itemheight">
          <ion-col size="5">
            <ion-text class="head-text">
              Date of Update
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-text>
              <strong>:</strong>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text class="val-text">
              {{item.created_date | date: "dd/MM/yyyy"}}
            </ion-text>
          </ion-col>
        </ion-item>

        <ion-item line="full" class="itemheight">
          <ion-col size="5">
            <ion-text class="head-text">
              Remarks
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-text>
              <strong>:</strong>
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text class="val-text">
              {{item.remarks}}
            </ion-text>
          </ion-col>
        </ion-item>

        <ion-item line="full" class="itemheight">
          <ion-col size="5">
            <ion-text class="head-text">
              Download Document
            </ion-text>
          </ion-col>
          <ion-col size="1">
            <ion-text>
              <strong>:</strong>
            </ion-text>
          </ion-col>
          <ion-col size="6" *ngIf="item.statusdocument!==''">
            <ion-button class="download-button" shape="round" fill="outline"
              (click)="downloadAnything(item.statusdocument,'Document')">Download
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-card>

    </ion-card>

  </ion-grid>




</ion-content>