<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{getFormName.form_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card [formGroup]="udhyogAadharForm" novalidate>

      <ion-row class="upper-row">
        <ion-label class="uper-text">
          Udhyog Aadhar Certificate
        </ion-label>
      </ion-row>
      <ion-list style="margin-top: 5px;">

        <ion-label class="label-head">Aadhar Number</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="tel" maxlength="12" placeholder="Aadhar No." formControlName="adharNo"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.adharNo.errors?.required">
          <ion-text>
            * Aadhar Number is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.adharNo.errors?.pattern">
          <ion-text>
            * Only Numerical values allowed. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Name of Entrepreneur</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="Name of Entrepreneur"
            formControlName="entrepreneurName"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.entrepreneurName.errors?.required">
          <ion-text>
            * Name of Entrepreneur is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Social Category</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="catHeader" placeholder="Social Category"
            formControlName="shopCategory">
            <ion-select-option value="General">General</ion-select-option>
            <ion-select-option value="OBC">OBC</ion-select-option>
            <ion-select-option value="SC">SC</ion-select-option>
            <ion-select-option value="ST">ST</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.shopCategory.errors?.required">
          <ion-text>
            * Social Category is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Gender</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="genderHeader" placeholder="Gender"
            formControlName="gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.gender.errors?.required">
          <ion-text>
            * Gender is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Name of Enterprises(Shop)</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="Name of Enterprises(Shop)"
            formControlName="entrepreneurShopName"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.entrepreneurShopName.errors?.required">
          <ion-text>
            * Name of Enterprises(Shop) is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Type of Organisation</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="orgHeader" placeholder="Type of Organisation"
            formControlName="organisationType">
            <ion-select-option value="Proprietary">Proprietary / एकल स्वामित्व</ion-select-option>
            <ion-select-option value="Partnership">Partnership / पार्टनरशिप</ion-select-option>
            <ion-select-option value="Co-Operative">Co-Operative / सहकारी</ion-select-option>
            <ion-select-option value="Private Limited Company">Private Limited Company / प्राइवेट लिमिटेड कंपनी
            </ion-select-option>
            <ion-select-option value="Public Limited Company">Public Limited Company / पब्लिक लिमिटेड कंपनी
            </ion-select-option>
            <ion-select-option value="Self Help Group">Self Help Group / स्वयं सहायता समूह</ion-select-option>
            <ion-select-option value="Limited Liability Partenership">Limited Liability Partenership /
              सीमित दायित्व
              भागीदारी</ion-select-option>
            <ion-select-option value="Society">Society / सोसाईटी</ion-select-option>
            <ion-select-option value="Trust">Trust / ट्रस्ट</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.organisationType.errors?.required">
          <ion-text>
            * Type of Organisation required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">PAN Number</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="PAN Number" formControlName="panNumber"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.panNumber.errors?.required">
          <ion-text>
            * PAN Number is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Shop Opening Date</ion-label>
        <ion-row class="item-row">
          <ion-datetime class="date-text" placeholder="Shop Opening Date" displayFormat="DD-MMM-YYYY"
            pickerFormat="DD-MMM-YYYY" min="1960" max="2030" formControlName="shopOpenDate"></ion-datetime>
          <ion-icon class="date-icon" name="calendar-number-outline"></ion-icon>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.shopOpenDate.errors?.required">
          <ion-text>
            * Shop Opening Date is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Email ID</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="Email ID" formControlName="email"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.email.errors?.required">
          <ion-text>
            * Email is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.email.errors?.pattern">
          <ion-text>
            * Valid Email is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Mobile No.</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="tel" maxlength="10" placeholder="Mobile No." formControlName="mobileNo">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.mobileNo.errors?.required">
          <ion-text>
            * Valid Mobile No is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.mobileNo.errors?.pattern">
          <ion-text>
            * Only numerical values allowed. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">IFSC Code</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="IFSC Code" formControlName="ifscCode"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.ifscCode.errors?.required">
          <ion-text>
            * IFSC Code is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Account No.</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="Account No." formControlName="accountNo"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.accountNo.errors?.required">
          <ion-text>
            * Account No. is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Full Address</ion-label>
        <ion-row class="item-row-address">
          <ion-textarea class="text-area" rows="15" type="text" placeholder="Full Address"
            formControlName="fullAddress">
          </ion-textarea>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.fullAddress.errors?.required">
          <ion-text>
            * Full Address is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">State</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="stateHeader" placeholder="State"
            formControlName="stateId" (ionChange)="selectState($event)">
            <ion-select-option *ngFor="let state of shareData.stateList" [value]="state">{{state.state_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.stateId.errors?.required">
          <ion-text>
            * State is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">District</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [disabled]="isStateId" [interfaceOptions]="districtHeader"
            placeholder="District" [value]="districtId" [(ngModel)]="districtId" formControlName="districtId"
            (ionChange)="selectDistrict($event)">
            <ion-select-option *ngFor="let district of shareData.districtList" [value]="district">
              {{district.city_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.districtId.errors?.required">
          <ion-text>
            * District is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Pin Code</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="tel" maxlength="6" placeholder="Pin Code" formControlName="pinCode">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.pinCode.errors?.required">
          <ion-text>
            * Valid Pin Code is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.pinCode.errors?.pattern">
          <ion-text>
            * Only numerical values allowed. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">No of Persons Employed</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="No of Persons Employed"
            formControlName="noOfEmployee"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.noOfEmployee.errors?.required">
          <ion-text>
            * No of Persons Employed is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Investment (Rs. In Lakhs)</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="Investment (Rs. In Lakhs)"
            formControlName="investInLakh"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.investInLakh.errors?.required">
          <ion-text>
            * Investment (Rs. In Lakhs) is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">Major Activity of Unit</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="majorHeader" placeholder="Major Activity of Unit"
            formControlName="majorActivityUnit">
            <ion-select-option value="Manufacturing">Manufacturing/विनिर्माण</ion-select-option>
            <ion-select-option value="Services">Services/सेवा</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.majorActivityUnit.errors?.required">
          <ion-text>
            * Major Activity of Unit is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">National Industry Classification</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="nationalHeader"
            placeholder="National Industry Classification" formControlName="nationalIndustry">
            <ion-select-option value="Manufacturing">Manufacturing/विनिर्माण</ion-select-option>
            <ion-select-option value="Services">Services/सेवा</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.nationalIndustry.errors?.required">
          <ion-text>
            * National Industry Classification is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">NIC2</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="NIC2" formControlName="NIC2"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.NIC2.errors?.required">
          <ion-text>
            * NIC2 is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">NIC3</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="NIC3" formControlName="NIC3"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.NIC3.errors?.required">
          <ion-text>
            * NIC3 is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">NIC4</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="NIC4" formControlName="NIC4"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.NIC4.errors?.required">
          <ion-text>
            * NIC4 Code is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">NIC5</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="NIC5" formControlName="NIC5"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.NIC5.errors?.required">
          <ion-text>
            * NIC5 is required. <br />
          </ion-text>
        </p>


        <hr>
        <hr>
        <ion-row>
          <ion-col>
            <ion-button class="submit-button" shape="round" fill="outline" (click)="payAndSubmit()">Pay & Submit
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="reset-btn" expand="block" type="submit" (click)="resetMainForm()">Reset
            </ion-button>
          </ion-col>
        </ion-row>


      </ion-list>
    </ion-card>
  </ion-grid>

</ion-content>