// /* Smartphones (portrait and landscape) ----------- */
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
      .date-icon {
            font-size: 20px;
            margin-left: 60% !important;
            position: unset;
            margin-top: 5px;
      }
}
