<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{getFormName.form_name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
    <ion-card [formGroup]="oldPentionForm" novalidate>
      <ion-list style="margin-top: 5px;">


        <ion-label class="label-head">State</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="genderTypeHeader" placeholder="State"
            formControlName="stateId" (ionChange)="selectState($event)">
            <ion-select-option *ngFor="let state of shareData.stateList" [value]="state">{{state.state_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.stateId.errors?.required">
          <ion-text>
            * State is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">जनपद</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [disabled]="isStateId" [interfaceOptions]="areaTypeHeader" placeholder="जनपद"
            formControlName="janpad" [(ngModel)]="janpad" (ionChange)="selectDistrict($event)">
            <ion-select-option *ngFor="let district of shareData.districtList" [value]="district">
              {{district.city_name}}
            </ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.janpad.errors?.required">
          <ion-text>
            * Janpad is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">निवासी</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="areaTypeHeader2" placeholder="निवासी"
            formControlName="area">
            <ion-select-option value="ग्रामीण">ग्रामीण
            </ion-select-option>
            <ion-select-option value="नगरीय">नगरीय</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.area.errors?.required">
          <ion-text>
            * Area is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">तहसील</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="तहसील" formControlName="tahsil"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.tahsil.errors?.required">
          <ion-text>
            * Tahsil is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">आवेदक का नाम</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="आवेदक का नाम" formControlName="fullName"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.fullName.errors?.required">
          <ion-text>
            * Full Name is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">पिता / पति का नाम</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="पिता / पति का नाम" formControlName="fatherName">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.fatherName.errors?.required">
          <ion-text>
            * Father Name is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">लिंग/Gender</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="genderTypeHeader" placeholder="-- चुनें --"
            formControlName="gender">
            <ion-select-option value="पुरुष">पुरुष</ion-select-option>
            <ion-select-option value="महिला">महिला</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.gender.errors?.required">
          <ion-text>
            * Gender is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">मकान नं0</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="मकान नं0" formControlName="buildingNo"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.buildingNo.errors?.required">
          <ion-text>
            * Building No is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">विकास खंड</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="विकास खंड" formControlName="vikashKhand"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.vikashKhand.errors?.required">
          <ion-text>
            * Vikash Khand No is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">पूरा पता</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="पूरा पता" formControlName="fullAddress"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.fullAddress.errors?.required">
          <ion-text>
            * Full Address No is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">ग्राम पंचायत</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="ग्राम पंचायत" formControlName="gramPanchayt">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.gramPanchayt.errors?.required">
          <ion-text>
            * Gram Pnchayat is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">पिन कोड</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="tel" maxlength="6" placeholder="पिन कोड" formControlName="pinCode">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.pinCode.errors?.required">
          <ion-text>
            * Pin Code is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.pinCode.errors?.pattern">
          <ion-text>
            * Only numerical values allowed. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">श्रेणी</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="casteTypeHeader" placeholder="-- श्रेणी --"
            formControlName="caste">
            <ion-select-option value="General">General</ion-select-option>
            <ion-select-option value="OBC">OBC</ion-select-option>
            <ion-select-option value="SC">SC</ion-select-option>
            <ion-select-option value="ST">ST</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.caste.errors?.required">
          <ion-text>
            * Caste is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">उपजाति</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="उपजाति" formControlName="subCast"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.subCast.errors?.required">
          <ion-text>
            * Sub Caste is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">जन्म तिथि</ion-label>
        <ion-row class="item-row">
          <ion-datetime class="date-text" placeholder="जन्मतिथि" displayFormat="DD-MMM-YYYY" pickerFormat="DD-MMM-YYYY"
            min="1960" max="2030" formControlName="dob"></ion-datetime>
          <ion-icon class="date-icon" name="calendar-number-outline"></ion-icon>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.dob.errors?.required">
          <ion-text>
            * Date Of Birth is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">मोबाइल न०</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="tel" placeholder="मोबाइल न०" maxlength="10" formControlName="mobileNo">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.mobileNo.errors?.required">
          <ion-text>
            * Valid Mobile No is required. <br />
          </ion-text>
        </p>
        <p class="error" *ngIf="isSubmited && errorControl.mobileNo.errors?.pattern">
          <ion-text>
            * Only numerical values allowed. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">पहचान प्रमाण पत्र</ion-label>
        <ion-row class="item-row">
          <ion-select class="select-class" [interfaceOptions]="voterHeader" placeholder="-- चुनें --"
            formControlName="identityType">
            <ion-select-option value="voterID">Voter Id Card</ion-select-option>
            <ion-select-option value="rationCard">Ration Card</ion-select-option>
          </ion-select>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.identityType.errors?.required">
          <ion-text>
            * Identity Card is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">पहचान प्रमाण पत्र नं0</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="पहचान प्रमाण पत्र नं0" formControlName="identityNo">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.identityNo.errors?.required">
          <ion-text>
            * Identity Card No is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">बैंक का नाम</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="बैंक का नाम" formControlName="bankName"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.bankName.errors?.required">
          <ion-text>
            * Bank Name is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">बैंक शाखा</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="बैंक शाखा" formControlName="bankBranch"></ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.bankBranch.errors?.required">
          <ion-text>
            * Bank Branch is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">बैंक खाता नंबर</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="बैंक खाता नंबर" formControlName="bankAccountNo">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.bankAccountNo.errors?.required">
          <ion-text>
            * Bank Account No is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">परिवार की कुल वार्षिक आय</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="परिवार की कुल वार्षिक आय"
            formControlName="yearIncome">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.yearIncome.errors?.required">
          <ion-text>
            * Yearly Income is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">आय-प्रमाण पत्र क्रमांक</ion-label>
        <ion-row class="item-row">
          <ion-input class="input-field" type="text" placeholder="आय-प्रमाण पत्र क्रमांक"
            formControlName="incomeCertificate">
          </ion-input>
        </ion-row>
        <p class="error" *ngIf="isSubmited && errorControl.incomeCertificate.errors?.required">
          <ion-text>
            * Income Certificate No is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">Upload Photo</ion-label>
        <ion-row class="item-row">
          <ion-button class="choose-button" shape="round" fill="outline" (click)="selectImage('profile')">Choose File
          </ion-button>
        </ion-row>

        <ion-row class="itemheight1" *ngIf="profilePhoto!==null">
          <div class="inner">
            <!-- <img class="selected-img" src="assets/Images/adhar-card.png" name="image5" alt="image"> -->
            <img class="selected-img" src="{{profilePhoto}}" name="image5" alt="image">
            <ion-button class="remove-btn" color="danger" size="small" (click)="removeImage('profile')">
              <ion-icon name="close-outline">
              </ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <p class="error" *ngIf="isSubmited && profilePhoto==null">
          <ion-text>
            * Photo is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">अपलोड जन्मतिथि / आयु प्रमाण पत्र</ion-label>
        <ion-row class="item-row">
          <ion-button class="choose-button" shape="round" fill="outline" (click)="selectImage('dobImage')">Choose File
          </ion-button>
        </ion-row>

        <ion-row class="itemheight1" *ngIf="dobPhoto!==null">
          <div class="inner">
            <!-- <img class="selected-img" src="assets/Images/adhar-card.png" name="image5" alt="image"> -->
            <img class="selected-img" src="{{dobPhoto}}" name="image5" alt="image">
            <ion-button class="remove-btn" color="danger" size="small" (click)="removeImage('dobImage')">
              <ion-icon name="close-outline">
              </ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <p class="error" *ngIf="isSubmited && dobPhoto==null">
          <ion-text>
            * Date Of Birth Certificate is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">अपलोड पहचान प्रमाण पत्र</ion-label>
        <ion-row class="item-row">
          <ion-button class="choose-button" shape="round" fill="outline" (click)="selectImage('voterId')">Choose File
          </ion-button>
        </ion-row>

        <ion-row class="itemheight1" *ngIf="voterPhoto!==null">
          <div class="inner">
            <!-- <img class="selected-img" src="assets/Images/adhar-card.png" name="image5" alt="image"> -->
            <img class="selected-img" src="{{voterPhoto}}" name="image5" alt="image">
            <ion-button class="remove-btn" color="danger" size="small" (click)="removeImage('voterId')">
              <ion-icon name="close-outline">
              </ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <p class="error" *ngIf="isSubmited && voterPhoto==null">
          <ion-text>
            * Identity Photo is required. <br />
          </ion-text>
        </p>

        <ion-label class="label-head">अपलोड बैंक पासबुक</ion-label>
        <ion-row class="item-row">
          <ion-button class="choose-button" shape="round" fill="outline" (click)="selectImage('bankAcc')">Choose File
          </ion-button>
        </ion-row>

        <ion-row class="itemheight1" *ngIf="passbookPhoto!==null">
          <div class="inner">
            <!-- <img class="selected-img" src="assets/Images/adhar-card.png" name="image5" alt="image"> -->
            <img class="selected-img" src="{{passbookPhoto}}" name="image5" alt="image">
            <ion-button class="remove-btn" color="danger" size="small" (click)="removeImage('bankAcc')">
              <ion-icon name="close-outline">
              </ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <p class="error" *ngIf="isSubmited && passbookPhoto==null">
          <ion-text>
            * PassBook Photo is required. <br />
          </ion-text>
        </p>


        <ion-label class="label-head">आय प्रमाण पत्र अपलोड करें</ion-label>
        <ion-row class="item-row">
          <ion-button class="choose-button" shape="round" fill="outline" (click)="selectImage('income')">Choose File
          </ion-button>
        </ion-row>

        <ion-row class="itemheight1" *ngIf="incomePhoto!==null">
          <div class="inner">
            <!-- <img class="selected-img" src="assets/Images/adhar-card.png" name="image5" alt="image"> -->
            <img class="selected-img" src="{{incomePhoto}}" name="image5" alt="image">
            <ion-button class="remove-btn" color="danger" size="small" (click)="removeImage('income')">
              <ion-icon name="close-outline">
              </ion-icon>
            </ion-button>
          </div>
        </ion-row>
        <p class="error" *ngIf="isSubmited && incomePhoto==null">
          <ion-text>
            * Income Certificate is required. <br />
          </ion-text>
        </p>


        <hr>
        <hr>
        <ion-row>
          <ion-col>
            <ion-button class="submit-button" shape="round" fill="outline" (click)="payAndSubmit()">Pay & Submit
            </ion-button>
          </ion-col>
          <ion-col>
            <!-- <ion-button class="pay-button" shape="round" fill="outline">Reset</ion-button> -->
            <ion-button class="reset-btn" expand="block" type="submit" (click)="resetMainForm()">Reset
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-list>

    </ion-card>

  </ion-grid>







</ion-content>